{% extends 'base.html' %}
{% block title %}<title>Confirm Trade Withdraw</title>{% endblock %}
{% block content %}

<div class="item-detail-container">
  <h1>Withdraw Trade</h1>

  <h4>Are you sure you want to withdraw the {{ trade }}? This action is final and cannot be undone</h4>

  <form action="" method="POST">
    {% csrf_token %}
    <input type="submit" value="Yes - Withdraw!"  class="btn dark-grn-bckgrnd">
    
    <a href="{% url 'trade_detail' trade.id %}" class="btn tan-bckgrnd">Cancel</a>
  </form>
</div>

{% endblock %}