{% extends 'base.html' %}
{% block title %}<title>my items</title>{% endblock %}
{% block bodytag %} class="items-index" {% endblock %}
{% block content %}

<div class="tab-container">
    <div class="tab-text"><h1>My Items</h1></div>
</div>
<div class="items-container">
    {% for item in items %}
    <div>{{item}}<a href="{% url 'item_update' item.id %}">edit</a><a href="{% url 'item_delete' item.id %}">delete</a></div>
    {% empty %}
    <div>No Items</div>
    {% endfor%}
    <a href="{% url 'item_create' %}">New Item</a>
</div>



{% endblock %}