{% extends 'base.html' %}
{% block title %}<title>log in</title>{% endblock %}
{% block bodytag %} class='registration' {% endblock %}
{% block content %}

<div class="center-container center-full-pg">
    <div class="block-container-30 center">
        <form method="POST" action="{% url 'login' %}" class="login-form">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="hidden" name="next" value="{{ next }}">
            <input type="submit" value="LOG IN" class="btn dark-grn-bckgrnd ">
        </form>
    </div>
</div>

{% endblock %}

