{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %}{% endblock %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>
<body {% block bodytag %} {% endblock %} >
    <nav class="nav-bar">
        <div class="nav-left">
            <div><a href="{% url 'index' %}">community</a></div>
        {% if user.is_authenticated %}
            <div><a href="{% url 'items_myitems' %}">my items</a></div>
            <div><a href="{% url 'trades_index' %}">my trades</a></div>
        {% endif %}
        </div>
        <div class="nav-center">
            <a href="{% url 'home' %}">THIS FOR <span class="hy-sm-i">that</span></a>
        </div>
        <div class="nav-right">
        {% if user.is_authenticated %}
            <div><a href="{% url 'logout' %}">log out {{user}}</a></div>
        {% else %}
            <div><a href="{% url 'signup' %}">sign up</a></div>
            <div><a href="{% url 'login' %}">log in</a></div>
        {% endif %}
        </div>
    </nav>
    {% block content %}{% endblock %}
</body>
</html>