/* not currently using */
@font-face {
    font-family: 'halyard-micro';
    src: URL('../fonts/halyard\ micro.otf') format('opentype');
}
/* not currently using */
@font-face {
    font-family: 'halyard-micro-b';
    src: URL('../fonts/halyard\ micro\ bold.otf') format('opentype');
}

@font-face {
    font-family: 'halyard-micro-SB';
    src: URL('../fonts/halyard\ micro\ semibold.otf') format('opentype');
}

@font-face {
    font-family: 'halyard-micro-SB-I';
    src: URL('../fonts/halyard\ micro\ semibold\ italic.otf') format('opentype');
}

@font-face {
    font-family: 'space-mono';
    src: URL('../fonts/space\ mono.otf') format('opentype');
}

@font-face {
    font-family: 'space-mono-B';
    src: URL('../fonts/space\ mono\ bold.otf') format('opentype');
}

:root {
    --dark-green: rgb(25,64,38);
    --cream: rgb(255,246,237);
    --lavender:  rgb(232, 225, 253);
    --chartreuse: rgb(239,244,131);
}

body {
    font-family: space-mono;
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

h1, h3 {
    font-family: halyard-micro-SB;
    color: var(--dark-green)
}

footer {
    position: absolute;
    bottom: 0;
    height: 20vh;
    width: 100%;
    background-color: var(--chartreuse);
}

.center-container {
    display: flex;
    justify-content: center;
}

.flex {
    display: flex;
}

.center {
    text-align: center;
}

.center-full-pg {
    height: 100vh;
    align-items: center;
    top: 0;
    position: absolute;
    width: 100%;
    z-index: -1;   
    box-sizing: border-box;
}

.block-container-30 {
    width: 30%;
}


.tab-btn-container {
    display: flex;
    align-items: end;
}

.tab-btn-container>div {
    padding: 25px;
}

.btn-container {
    width: fit-content;
}

.btn {
    font-family: 'space-mono';
    color: white;
    padding: 15px 50px;
    border-radius: 30px;
    border: none;
    cursor: pointer;
    letter-spacing: 5px;
}

.btn:hover {
    opacity: .75;
}

.dark-grn-bckgrnd {
    background-color: var(--dark-green);
}

.hy-sm-i {
    font-family: halyard-micro-SB-I;
}

.decorate-anchor {
    text-decoration: underline;
    font-family: space-mono-B;
}

.nav-bar, .nav-left, .nav-right {
    display: flex;
}

.nav-left, .nav-center, .nav-right { 
    width: 33%;
}

.nav-bar {
    justify-content: space-between;
    align-items: center;    
    padding: 0 50px;
    color: var(--dark-green);
    background-color: inherit;
}

.nav-left > div:not(:last-child) {
    margin-right: 35px;
}

.nav-center {
    font-family: halyard-micro-SB;
    font-size: 50px;
    text-align: center;
}

.nav-right {
    justify-content: end;
}

.nav-right > div:not(:first-child) {
    margin-left:35px;
}

.registration {
    background-color: var(--lavender);
}

.login-form input {
    padding: 1.4rem 2rem;
    line-height: 1.2rem;
    letter-spacing: 0.1em;
    font-family: inherit;
    border: 2px solid rgb(224,224,224);
    width: 80%;
}

.login-form span {
    display: block;
    width: 70%;
    margin: 0 auto;
}

.home {
    background-color: var(--lavender);
}

.tab-container {
    height: 10rem;
    background: var(--cream);
    display: flex;
    align-items: end;
}

.tab-text {
    padding:0 70px 0 50px;
    height: 70%;
    display: flex;
    align-items: center;
    background-color: var(--lavender);
    border-top-right-radius: 80px 80px;
}

.items-index {
    background-color: var(--cream);
}

.items-container {
    background-color: var(--lavender);
    padding: 50px;
}

.items-grid {
    display: grid;
    grid-template-columns: repeat(3,30%);
    grid-column-gap: 4vw;
    grid-row-gap: 4vw;
    padding: 0;
}

.item-container {
    height: 100%;
    overflow: hidden;
}

.item-img-container {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
}

.item-img-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.img-text-container {
    height: 15%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.img-text-container div {
    height: 100%;
}

.item-traded {
    width: 80%;
    background-color: rgb(255, 229, 180);
    padding: 15px;
    font-family: space-mono-B;
    text-align: center;
}

.item-detail-container {
    background-color: var(--lavender);
    color: var(--dark-green);
    padding: 150px 50px 50px 50px;
    min-height: 50vh;
}

.img-gallery-sm {
    max-height: 250px;
    max-width: 250px;
    padding-left: 50px;
}

.img-gallery-sm div {
    margin: 15px 15px 15px 0;
}

.img-gallery-sm>div>img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.item-left, .item-right {
    width: 50%;
}

.item-detail-img-container, .item-detail-img-container img {
    width: 80%;
}

.item-detail-text {
    height: 50%;
}

.item-btns div {
    margin: 15px 0;
    text-align: center;
}

.new-item-container {
    position: relative;
    text-align: center;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
}

.item-detail-curtrade-detail {
    background-color: var(--cream);
    width: 80%;
}

.trades-container {
    padding: 50px 50px 0 50px;
    display: flex;
    flex-wrap: wrap;
}

.trades-container>h1 {
    margin:0;
}

.trade-in-progress {
    width: fit-content;
    background-color: var(--chartreuse);
    margin: 20px 0;
    padding: 20px;
}

.trade-done {
    width: fit-content;
    border: 1px solid var(--dark-green);
    margin: 0 40px 20px 0;
    padding: 40px;
}

.marquee {
    background-color: rgb(239,244,131);
    width: 80%;
    --gap: 0px;
    display: flex;
    overflow: hidden;
    user-select: none;
    gap: var(--gap);
}

.marquee-content {
    flex-shrink: 0;
    display: flex;
    justify-content: space-around;
    min-width: 100%;
    gap: var(--gap);
    animation: scroll 10s linear infinite;
    list-style-type: none;
    margin: .5rem;
}

@keyframes scroll {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(calc(-100% - var(--gap)));
    }
  }